@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose h3,
  .prose h4,
  .prose p {
    @apply dark:text-white text-black !important;
  }
  .prose ul > li::before {
    @apply bg-black dark:bg-white w-1 h-1 top-4 !important;
  }
  .prose ol > li::before {
    @apply text-black dark:text-white text-base top-[5px] !important;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
      url('/fonts/Satoshi-Variable.woff') format('woff'),
      url('/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
}
